<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @weekly_menu.start_date %>
</p>

<%= link_to 'Edit', edit_weekly_menu_path(@weekly_menu) %> |
<%= link_to 'Back', weekly_menus_path %>
